<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION FORM</title>
    <style>
        body{
            background-image: url("train1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        form{
            background-color: aquamarine;
            text-align: left;
            margin-left: 15%;
            margin-right: 50%;
            padding-left: 6%;
            padding-top: 3%;
            padding-bottom: 3%;
    }
    </style>
</head>
<body>
    <center><h2 style="color:chartreuse">USER ACCOUNT CREATION</h2></center>
    <form action="createsucess.html"method="POST">
        <div>
        <label>NAME :</label>
        <input type="text"name="name"size="35"maxlength="40">
        </div><br>
        <div>
        <label>E-Mail:</label>
        <input type="text"name="E-Mail"size="36"maxlength="30">
        </div><br>
        <div>
        <label>MOBILE NUMBER :</label>
        <input type="number"name="mobile"size="30" maxlength="25">
        </div><br>
        <div>
        <lable>CREATE USERNAME</lable>
        <input type="Text" name="username" size="20" maxlength="30">
        </div><br>
        <div>
        <label>CREATE PASSWORD</label>
        <input type="text" name="Password" size="20"maxlength="30">
        </div><br>
        <div>
            <button>CREATE</button>
        </div>
    </form>
</body>
</html>

