<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAILWAY RESERVATON SYSTEM</title>
    
    <style>
    body{
        background-image:url("train.jpg");
        background-size: cover;
        background-repeat: no-repeat;
         }
    h2{
        padding-left: 5%;
    }
    div{
        padding-left: 10%;
    }
    #sub{
        margin-left: 35%;
    }
    form{
        background-color: white;
        text-align: left;
        margin-left: 15%;
        margin-right: 50%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #reg{
        padding-left: 35%;
    }
    </style>

</head>
<body>
    <h1 style="text-align:left;color: red;">INDIAN RAILWAYS</h1>
    <h3 style="text-align:left;color: rgb(107, 25, 173);">safety|security|Puntuality</h3>
    <h2 style="text-align:left;color:blue;">WELCOME TO TRAIN BOOKING</h2>
<form action="search.html"method="POST">
    <div>
       <center> <h2>LOGIN</h2></center>
    
    <label>USERNAME :</label>
    <input type="text"name="USERNAME">
    </div><br><div>
    
    <label>PASSWORD :</label>
    <input type="text"name="PASSWORD">
    </div><br>

    <div id="sub">
    <input type="SUBMIT"value="SUBMIT">
    </div>
</form>
<form action="createaccount.html"method="post">
<Justify><p style="color:red;padding-left: 10%;">New User, Please click REGISTER button to create an account</p></Justify>
    <div id="reg">
    <button>REGISTER</button>
    </div>
</form>

</body>
</html>